@font-face {
  font-family: Lexend;
  src: url("fonts/Lexend-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-lexend: Lexend, "sans-serif";
}

section, 
.main-div {
  background-color: #000000;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}
